body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.block0,
.block1,
.block2,
.block3,
.block4,
.footer {
    padding: 70px 240px;
}

.block0, 
.block1,
.footer {
    background-color: #1F2937;
}

.block0 {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header {
    font-size: 24px;
    color: #F0FAF8;
}

a, 
.subtext{
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    gap: 16px;
}

a {
    text-decoration: none;
}

.block1 {
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 30px;
}

.block1 .title,
.block1 .subtext {
    margin-bottom: 16px;
}

.main-image {
    width: 950px;
    background-color: #e5e7eb;
    text-align: center;
    line-height: 225px;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
}

button.sign-up {
    background: #3882F6;
    color: white;
    border: 1px solid;
}

.block1 .sign-up {
    border-color: #3882F6;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.block2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;

}

.container2 {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-top: 32px;
}

.item {
    max-width: 150px;
    font-size: 18px;
    color: darkgrey;
}

.item-image {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 3px solid #3882F6;
}

.block3 {
    background-color: #e5e7eb;
    font-size: 35px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    padding-left: 270px;
    padding-right: 270px;
}

.quote-author {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.container4 {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 40px 60px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.block4 .header {
    font-weight: bold;
}
.block4 .sign-up {
    border-color: white;
}